@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    align-items: center;
    font-family: 'Secular One', sans-serif;

}

body {

    margin: 0;
    height: 100vh;
    color: white;
    background: radial-gradient(circle, rgba(45,73,168,1) 0%, rgba(18,39,124,1) 100%);
    opacity: 0;
    transform:translate(-50px, -50px);
    animation: apparition 2s ease-out forwards;

}

@keyframes apparition {

  100% {

    opacity: 1;
    transform: none;

  }
}

.title {

    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-align: center;
    width: 1060px;
    letter-spacing: 5px;
    padding-top: 10px;
    border-radius: 30px;
    background: #173184;
    white-space: nowrap;
    box-shadow: 10px 10px 9px #11235f, -10px -10px 9px #1d3fa9;

}

.container {

    display: flex;
    gap: 80px;
    position: absolute;
    top: 375px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container2 {

    flex-direction: column;

}

.txt {

    width: 490px;
    height: 300px;
    padding: 18px 20px 15px 27px;
    font-size: 1.5em;
    border: none;
    resize: none;
    color: white;
    border-radius: 15px;
    background: #173184;
    box-shadow: 10px 10px 9px #11235f, -10px -10px 9px #1d3fa9;
    font-family: 'Ubuntu', sans-serif;
    outline: none;

}

.txt::-webkit-scrollbar {

    width: 0.3vw;
    background-color: transparent;

}

.txt::-webkit-scrollbar-thumb {
  
    background-color: white;
    border-radius: 6vh;
  
}

.txt::-webkit-scrollbar-thumb:hover {
  
    background-color: #555;
  
}

.Maj {

    padding: 21px 18px 2px 27px;
    position: relative;
    bottom: 0px;
    height: 260px;
    border-radius: 15px 15px 0px 0px;
    word-wrap: break-word;
    overflow: auto;

}

::placeholder{

    color: white;

}

.btn-container {
    
    position: relative;
    height: 270px;
    width: 490px;
    height: 40px;
    padding-top: 5px;
    bottom: 24.5px;
    background: #173184;
    box-shadow: 10px 10px 9px #11235f;
    border-radius: 0px 0px 15px 15px;

}

.btn {
    
    cursor: pointer;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url(copier.png);
    width: 30px;
    height: 30px;
    left: 450px;
    transition: 0.7s;

}

.btn.active {
    
    background-image: url(copier-active.png);

}

.fake-copyright {

    position: absolute;
    left: 50%;
    top: 590px;
    transform: translate(-212%, -50%);
    height: 50px;
    font-size: 1.1em;
    width: 250px;
    padding-top: 11px;
    text-align: center;
    border-radius: 15px;
    background: #173184;
    box-shadow: 10px 10px 9px #11235f, -10px -10px 9px #1d3fa9;

}

::-webkit-scrollbar {

    width: 0.7vw;
    background-color: #173184;;

}

::-webkit-scrollbar-thumb {

    background-color: #888;
    border-radius: 6vh;
    height: 16.5vh; 

}

::-webkit-scrollbar-thumb:hover {

    background-color: #555;

}

@media screen and (max-width: 1090px) {

    .title {

        font-size: 4.5em;
        width: 900px;
        letter-spacing: 2px;
    
    }

    .container {

        gap: 100px;
        top: 361px;

    }

    .txt {

        width: 400px;
        padding: 18px 22.2px 15px 25px;
    
    }

    .Maj {

        padding: 21px 18px 0px 27px;
        border-radius: 15px 15px 0px 0px;
    
    }

    .btn-container {
    
        width: 400px;

    }

    .btn {
    
        left: 355px;
    
    }

    .fake-copyright {

        top: 575px;
        transform: translate(-181%, -50%);
        padding-top: 12px;
    
    }
}

@media screen and (max-width: 955px) {

    .title {

        font-size: 3.9em;
        width: 780px;
    
    }

    .container {

        gap: 70px;
        top: 330px;

    }

    .txt {

        width: 355px;
        height: 270px;
        padding: 18px 22.2px 15px 25px;
    
    }

    .Maj {

        height: 230px;
        padding: 21px 18px 0px 27px;
        border-radius: 15px 15px 0px 0px;
    
    }

    .btn-container {
    
        width: 355px;

    }

    .btn {
    
        left: 310px;
    
    }

    .fake-copyright {

        top: 525px;
        transform: translate(-156%, -50%);
    
    }
}

@media screen and (max-width: 855px) {

    .title {

        font-size: 3.2em;
        width: 650px;
        border-radius: 20px;
    
    }

    .container {

        top: 490px;
        display: block;

    }

    .txt {

        font-size: 1.2em;
        width: 650px;
        height: 270px;
        top: 20px;
    
    }

    .Maj {

        height: 260px;
        padding: 21px 18px 35px 27px;
        border-radius: 15px 15px 0px 0px;
    
    }

    .btn-container {
    
        width: 650px;
        bottom: 33px;

    }

    .btn {
    
        left: 605px;
    
    }

    .fake-copyright {

        top: 825px;
        transform: translate(-130%, -50%);
    
    }
}

@media screen and (max-width: 700px) {

    .title {

        font-size: 2.7em;
        width: 560px;
        padding-top: 7px;
    
    }

    .container {

        top: 465px;

    }

    .txt {

        width: 560px;
        top: 15px;
    
    }

    .btn-container {
    
        width: 560px;

    }

    .btn {
    
        left: 515px;
    
    }

    .fake-copyright {

        border-radius: 12px;
        width: 220px;
        height: 40px;
        font-size: 1em;
        top: 790px;
        padding-top: 6.5px;
        transform: translate(-127%, -50%);
    
    }
}

@media screen and (max-width: 600px) {

    .title {

        font-size: 2em;
        width: 430px;
        border-radius: 15px;
    
    }

    .container {

        top: 325px;

    }

    .txt {

        width: 430px;
        top: 8px;
        height: 160px;
    
    }

    .Maj {

        height: 150px;
        padding: 21px 18px 27px 27px;
        
    }

    .btn-container {
    
        width: 430px;

    }

    .btn {
    
        left: 385px;
    
    }

    .fake-copyright {

        border-radius: 9px;
        width: 180px;
        height: 35px;
        font-size: 0.8em;
        top: 525px;
        transform: translate(-120%, -50%);
    
    }
}

@media screen and (max-width: 480px) {

    .title {

        font-size: 1.8em;
        width: 390px;
        height: 65px;
        padding-top: 14px;
        border-radius: 11px;
    
    }

    .container {

        top: 305px;

    }

    .txt {

        width: 390px;
        top: 60px;
        height: 130px;
    
    }

    .Maj {

        height: 120px;
        padding: 21px 18px 27px 27px;
        
    }

    .btn-container {
    
        width: 390px;
        bottom: -10px;

    }

    .btn {
    
        left: 345px;
    
    }

    .fake-copyright {

        border-radius: 9px;
        width: 180px;
        height: 35px;
        font-size: 0.8em;
        padding-top: 7px;
        top: 527px;
        transform: translate(-110%, -50%);
    
    }
}

@media screen and (max-width: 425px) {

    .title {

        font-size: max(7.5vw, 5px);
        width: 91%;
        letter-spacing: 0px;
        padding-top: 14px;

    }

    .container {

        top: 383px;
        width: 91%;

    }

    .txt {

        font-size: 1.4em;
        width: 100%;
        top: 20px;
        height: 200px;
    
    }

    .Maj {

        height: 190px;
        padding: 21px 18px 32px 27px;
        
    }

    .btn-container {
    
        width: 100%;
        bottom: 30px;
        padding-top: 8px;

    }

    .btn {
    
        left: 90%;
        width: 25px;
        height: 25px;
    
    }

    .fake-copyright {

        border-radius: 9px;
        width: 55%;
        height: 40px;
        font-size: 1em;
        padding-top: 7.3px;
        top: 640px;
        transform: translate(-83%, -50%);
    
    }
}

@media screen and (max-width: 375px) {

    .title {

        font-size: 1.7em;
        padding-top: 15px;
        width: 90%;

    }

    .container {

        top: 350px;
        width: 90%;

    }

    .txt {

        font-size: 1.25em;
        height: 170px;
    
    }

    .Maj {

        height: 160px;
        
    }

    .fake-copyright {

        width: 53%;
        font-size: 0.9em;
        padding-top: 8.5px;
        top: 580px;
    
    }
}

@media screen and (max-width: 360px) {

    .title {

        font-size: 1.6em;
        padding-top: 17px;

    }

    .btn {
    
        left: 89%;
    
    }

    .fake-copyright {

        font-size: 0.8em;
        padding-top: 11.5px;
    
    }
}

@media screen and (max-width: 345px) {

    .title {

        font-size: 1em;
        background-color: red;

    }
}

@media screen and (max-width: 320px) {

    .title {

        top: 30px;
        font-size: 1.5em;
        padding-top: 11px;
        height: 55px;

    }

    .container {

        top: 300px;

    }

    .txt {

        font-size: 1em;
        height: 170px;
    
    }

    .Maj {

        height: 160px;
        
    }

    .btn {
    
        left: 88%;
    
    }

    .fake-copyright {

        width: 55%;
        height: 35px;
        font-size: 0.8em;
        padding-top: 7px;
        top: 500px;
        transform: translate(-81%, -50%);
    
    }
}

@media screen and (max-width: 310px) {

    .title {

        font-size: 1.3em;
        padding-top: 14px;

    }

    .btn {
    
        left: 87%;
    
    }

    .fake-copyright {

        height: 30px;
        font-size: 0.7em;
        padding-top: 6px;
    
    }
}